/* pour appli tri */

#bouton-melange,
#bouton-lancer {
    background-color: rgb(44, 151, 222);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    min-width: 15%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

#bouton-melange:hover {
    background-color: rgb(16, 73, 186)
}

#bouton-lancer {
    background-color: rgb(0, 168, 64);
}

#bouton-lancer:hover {
    background-color: rgb(37, 130, 73);
}

#tableau{
    font-family: 'Courier New', Courier, monospace;
    height: 2.5em;
    width: 80%;
    border: 1px solid;
    color: black;
    font-size: 105%;
}


#canvas {
    display: block;
    margin: auto;
}


/* center les tableaux */
.md-typeset__table, .md-typeset__scrollwrap {
  margin: 0 auto; 
  display: flex;
}

/* Centrer les images */
.center {
  display: block;
  margin: 0 auto;
}

strong {
  color: var(--md-primary-fg-color--light);
}


/* Admonition tool */
:root {
  --md-admonition-icon--tool: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m21.71 20.29l-1.42 1.42a1 1 0 0 1-1.41 0L7 9.85A3.81 3.81 0 0 1 6 10a4 4 0 0 1-3.78-5.3l2.54 2.54l.53-.53l1.42-1.42l.53-.53L4.7 2.22A4 4 0 0 1 10 6a3.81 3.81 0 0 1-.15 1l11.86 11.88a1 1 0 0 1 0 1.41M2.29 18.88a1 1 0 0 0 0 1.41l1.42 1.42a1 1 0 0 0 1.41 0l5.47-5.46l-2.83-2.83M20 2l-4 2v2l-2.17 2.17l2 2L18 8h2l2-4Z"/></svg>')
}
.md-typeset .admonition.tool,
.md-typeset details.tool {
  border-color: rgb(63, 29, 201);
}
.md-typeset .tool > .admonition-title,
.md-typeset .tool > summary {
  background-color: rgba(47, 65, 181, 0.1);
}
.md-typeset .tool > .admonition-title::before,
.md-typeset .tool > summary::before {
  background-color: rgb(63, 29, 201);
  -webkit-mask-image: var(--md-admonition-icon--tool);
          mask-image: var(--md-admonition-icon--tool);
}

/* Admonition video */
:root {
  --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m392-313 260-169-260-169v338ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"/></svg>')
}
.md-typeset .admonition.video,
.md-typeset details.video {
  border-color: rgb(201, 29, 29);
}
.md-typeset .video > .admonition-title,
.md-typeset .video > summary {
  background-color: rgba(181, 47, 47, 0.1);
}
.md-typeset .video > .admonition-title::before,
.md-typeset .video > summary::before {
  background-color: rgb(201, 29, 29);
  -webkit-mask-image: var(--md-admonition-icon--video);
          mask-image: var(--md-admonition-icon--video);
}

/* Admonition A mémoriser */
:root {
  --md-admonition-icon--mem: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9l2.6-2.4C267.2 438.6 256 404.6 256 368c0-97.2 78.8-176 176-176c28.3 0 55 6.7 78.7 18.5c.9-6.5 1.3-13 1.3-19.6v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5zM576 368a144 144 0 1 0 -288 0 144 144 0 1 0 288 0zm-76.7-43.3c6.2 6.2 6.2 16.4 0 22.6l-72 72c-6.2 6.2-16.4 6.2-22.6 0l-40-40c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L416 385.4l60.7-60.7c6.2-6.2 16.4-6.2 22.6 0z"/></svg>')
}
.md-typeset .admonition.mem,
.md-typeset details.mem {
  border-color: #AA8ED6;
}
.md-typeset .mem > .admonition-title,
.md-typeset .mem > summary {
  background-color:  #aa8ed64b;
}
.md-typeset .mem > .admonition-title::before,
.md-typeset .mem > summary::before {
  background-color:  #AA8ED6;
  -webkit-mask-image: var(--md-admonition-icon--mem);
          mask-image: var(--md-admonition-icon--mem);
}



/* Admonition Python */
:root {
  --md-admonition-icon--python: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/></svg>')
}
.md-typeset .admonition.python,
.md-typeset details.python {
  border-color: rgb(43, 155, 70);
}
.md-typeset .python > .admonition-title,
.md-typeset .python > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .python > .admonition-title::before,
.md-typeset .python > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--python);
          mask-image: var(--md-admonition-icon--python);
}

/* Admonition Debian */
:root {
  --md-admonition-icon--debian: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25ZM7.25 8a.749.749 0 0 1-.22.53l-2.25 2.25a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734L5.44 8L3.72 6.28a.749.749 0 0 1 .326-1.275a.749.749 0 0 1 .734.215l2.25 2.25c.141.14.22.331.22.53Zm1.5 1.5h3a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1 0-1.5Z"/></svg>')
}
.md-typeset .admonition.debian,
.md-typeset details.debian {
  border-color: rgb(201, 25, 104);
}
.md-typeset .debian > .admonition-title,
.md-typeset .debian > summary {
  background-color: rgb(66, 8, 39);
}
.md-typeset .debian > .admonition-title::before,
.md-typeset .debian > summary::before {
  background-color: rgb(201, 25, 104);
  -webkit-mask-image: var(--md-admonition-icon--debian);
          mask-image: var(--md-admonition-icon--debian);
}




.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  color: var(--md-primary-fg-color--light);
}
.md-typeset h1 {
    font-weight: 600;
    font-size: 3em;
    margin: 0;
}

.md-typeset h2 {
    font-weight: 400;
    font-size: 2.2em;
    margin: .2em 0 .2em;

}

.md-nav__item .md-nav__link--active {
        color: var(--md-primary-fg-color--light);
}

.md-nav--lifted > .md-nav__list > .md-nav__item > [for] {
    color: var(--md-primary-fg-color--light);
}
.md-typeset a{
    color: deepskyblue;
}


/* JSLINUX */


.term {
    font-family: courier,fixed,swiss,monospace,sans-serif;
    font-size: 15px;
    color: #f0f0f0;
    background: #000000;
}

.term_content a {
    color: #ffff00;
}

.term_cursor {
    color: #000000;
    background: #00ff00;
}

.term_scrollbar { background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; height: 100%; }
.term_track { background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.term_thumb { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.term_thumb .term_end { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
#term_paste {
    border: 1px solid;
    height: 19px;
}

/* file import */
#files {
    visibility: hidden;
    width:1px;
    height:1px;
    padding: 0px;
    margin: 0px;
    bordex: 0px;
}

label {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}


/* Logic gates */

.Canvas input[type=checkbox] + label:hover + div > .Connector,
.Canvas input[type=checkbox] + label:hover + div > .Connector:before {
  background-color: #b3e5fc;
}
.Canvas input[type=checkbox]:checked + label + div > .Connector,
.Canvas input[type=checkbox]:checked + label + div > .Connector:before,
#simple-xor-a:not(:checked) ~ #simple-xor-b:checked ~ #simple-xor-gate + div > .Connector,
#simple-xor-a:not(:checked) ~ #simple-xor-b:checked ~ #simple-xor-gate + div > .Connector:before,
#simple-xor-a:checked ~ #simple-xor-b:not(:checked) ~ #simple-xor-gate + div > .Connector,
#simple-xor-a:checked ~ #simple-xor-b:not(:checked) ~ #simple-xor-gate + div > .Connector:before,
#simple-and-a:checked ~ #simple-and-b:checked ~ #simple-and-gate + div > .Connector,
#simple-and-a:checked ~ #simple-and-b:checked ~ #simple-and-gate + div > .Connector:before,
#simple-or-a:checked ~ #simple-or-gate + div > .Connector,
#simple-or-a:checked ~ #simple-or-gate + div > .Connector:before,
#simple-or-b:checked ~ #simple-or-gate + div > .Connector,
#simple-or-b:checked ~ #simple-or-gate + div > .Connector:before,
#half-adder-a:not(:checked) ~ #half-adder-b:checked ~ #half-adder-xor-gate + div > .Connector,
#half-adder-a:not(:checked) ~ #half-adder-b:checked ~ #half-adder-xor-gate + div > .Connector:before,
#half-adder-a:checked ~ #half-adder-b:not(:checked) ~ #half-adder-xor-gate + div > .Connector,
#half-adder-a:checked ~ #half-adder-b:not(:checked) ~ #half-adder-xor-gate + div > .Connector:before,
#half-adder-a:checked ~ #half-adder-b:checked ~ #half-adder-and-gate + div > .Connector,
#half-adder-a:checked ~ #half-adder-b:checked ~ #half-adder-and-gate + div > .Connector:before,
#full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-input + div > .Connector,
#full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-input + div > .Connector:before,
#full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-input + div > .Connector,
#full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-input + div > .Connector:before,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-and-gate-sum + div > .Connector,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-and-gate-sum + div > .Connector:before,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-and-gate-sum + div > .Connector,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-and-gate-sum + div > .Connector:before,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-and-gate-input + div > .Connector,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-and-gate-input + div > .Connector:before,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Connector,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Connector:before,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-or-gate-carry-out + div > .Connector,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-or-gate-carry-out + div > .Connector:before,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Connector,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Connector:before,
#full-adder-carry:not(:checked) ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Connector,
#full-adder-carry:not(:checked) ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Connector:before,
#full-adder-carry:not(:checked) ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Connector,
#full-adder-carry:not(:checked) ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Connector:before,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Connector,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Connector:before,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Connector,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Connector:before {
  background-color: #ffc107;
}
.Canvas input[type=checkbox]:checked + label:hover + div > .Connector,
.Canvas input[type=checkbox]:checked + label:hover + div > .Connector:before {
  background-color: #ffb300;
}
.Canvas input[type=checkbox]:checked + label,
.ActiveGate.Result + div > .Result,
#simple-xor-a:not(:checked) ~ #simple-xor-b:checked ~ #simple-xor-gate + div > .Result,
#simple-xor-a:checked ~ #simple-xor-b:not(:checked) ~ #simple-xor-gate + div > .Result,
#simple-and-a:checked ~ #simple-and-b:checked ~ #simple-and-gate + div > .Result,
#simple-or-a:checked ~ #simple-or-gate + div > .Result,
#simple-or-b:checked ~ #simple-or-gate + div > .Result,
#half-adder-a:not(:checked) ~ #half-adder-b:checked ~ #half-adder-xor-gate + div > .Result,
#half-adder-a:checked ~ #half-adder-b:not(:checked) ~ #half-adder-xor-gate + div > .Result,
#half-adder-a:checked ~ #half-adder-b:checked ~ #half-adder-and-gate + div > .Result,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Result,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-or-gate-carry-out + div > .Result,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Result,
#full-adder-carry:not(:checked) ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Result,
#full-adder-carry:not(:checked) ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Result,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Result,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Result {
  background-color: #ffc107;
}
.Canvas input[type=checkbox]:checked + label:after,
.ActiveGate.Result + div > .Result:after,
#simple-xor-a:not(:checked) ~ #simple-xor-b:checked ~ #simple-xor-gate + div > .Result:after,
#simple-xor-a:checked ~ #simple-xor-b:not(:checked) ~ #simple-xor-gate + div > .Result:after,
#simple-and-a:checked ~ #simple-and-b:checked ~ #simple-and-gate + div > .Result:after,
#simple-or-a:checked ~ #simple-or-gate + div > .Result:after,
#simple-or-b:checked ~ #simple-or-gate + div > .Result:after,
#half-adder-a:not(:checked) ~ #half-adder-b:checked ~ #half-adder-xor-gate + div > .Result:after,
#half-adder-a:checked ~ #half-adder-b:not(:checked) ~ #half-adder-xor-gate + div > .Result:after,
#half-adder-a:checked ~ #half-adder-b:checked ~ #half-adder-and-gate + div > .Result:after,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Result:after,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-or-gate-carry-out + div > .Result:after,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out + div > .Result:after,
#full-adder-carry:not(:checked) ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Result:after,
#full-adder-carry:not(:checked) ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Result:after,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry + div > .Result:after,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry + div > .Result:after {
  top: -3.25rem;
}
#simple-xor-a:not(:checked) ~ #simple-xor-b:checked ~ #simple-xor-gate span:before,
#simple-xor-a:not(:checked) ~ #simple-xor-b:checked ~ #simple-xor-gate:after,
#simple-xor-a:checked ~ #simple-xor-b:not(:checked) ~ #simple-xor-gate span:before,
#simple-xor-a:checked ~ #simple-xor-b:not(:checked) ~ #simple-xor-gate:after,
#simple-or-a:checked ~ #simple-or-gate span:before,
#simple-or-a:checked ~ #simple-or-gate:after,
#simple-or-b:checked ~ #simple-or-gate span:before,
#simple-or-b:checked ~ #simple-or-gate:after,
#half-adder-a:not(:checked) ~ #half-adder-b:checked ~ #half-adder-xor-gate span:before,
#half-adder-a:not(:checked) ~ #half-adder-b:checked ~ #half-adder-xor-gate:after,
#half-adder-a:checked ~ #half-adder-b:not(:checked) ~ #half-adder-xor-gate span:before,
#half-adder-a:checked ~ #half-adder-b:not(:checked) ~ #half-adder-xor-gate:after,
#full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-input span:before,
#full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-input:after,
#full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-input span:before,
#full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-input:after,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out span:before,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out:after,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-or-gate-carry-out span:before,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-or-gate-carry-out:after,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out span:before,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-or-gate-carry-out:after,
#full-adder-carry:not(:checked) ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry span:before,
#full-adder-carry:not(:checked) ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry:after,
#full-adder-carry:not(:checked) ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry span:before,
#full-adder-carry:not(:checked) ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry:after,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry span:before,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:not(:checked) ~ #full-adder-xor-gate-carry:after,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry span:before,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-xor-gate-carry:after {
  background-color: #ffc107;
}
#simple-and-a:checked ~ #simple-and-b:checked ~ #simple-and-gate,
#half-adder-a:checked ~ #half-adder-b:checked ~ #half-adder-and-gate,
#full-adder-carry:checked ~ #full-adder-a:not(:checked) ~ #full-adder-b:checked ~ #full-adder-and-gate-sum,
#full-adder-carry:checked ~ #full-adder-a:checked ~ #full-adder-b:not(:checked) ~ #full-adder-and-gate-sum,
#full-adder-a:checked ~ #full-adder-b:checked ~ #full-adder-and-gate-input {
  background-color: #ffc107;
}

/*# sourceMappingURL=basic-gates.css.map */